<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>ページタイトル</title>
        <link rel="stylesheet" href="../assets/css/github.css">
        <link rel="stylesheet" href="../assets/css/user.css">
    </head>
    <body>
        <header class="u-header">ヘッダー</header>
        <section class="u-wrapper">
            <h1>ページタイトル</h1>
            <h2 id="-">ほげほげほげ</h2>
<p>本文あいうえお</p>
<pre><code>&lt;div&gt;あああ&lt;/div&gt;
</code></pre><hr>
<h3 id="-">あうあうあ</h3>
<p><a href="http://qiita.com/">http://qiita.com/</a></p>
<ul>
<li><a href="https://www.google.co.jp/">Google</a></li>
<li>まうまうま</li>
</ul>
<h2 id="-">ふがふがふが</h2>
<p>本文かきくけこさしすせそ</p>

        </section>
    </body>
</html>