.u-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 15px 30px;
}

.u-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px;
    color: #333;
}